.banner {
  display: flex;
  position: relative;
  align-items: flex-end;
  z-index: -1;
  width: 100%;
  height: 275px;
  background-color: rgb(25, 159, 221);
}

.banner > div {
  position: relative;

  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 100px;
}
.bannerData {
  position: absolute;
  bottom: 5px;
  width: 950px;
  height: 125px;
}
.bannerData > div {
  display: flex;
  align-items: center;
}
.bannerData img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 5px solid white;
}
.ptitles h2 {
  margin-top: 40px;
  margin-bottom: 8px;
}
.ptitles p {
  margin-top: 0px;
  color: gray;
  font-size: 15px;
}
.bannerf{
    margin-left:20px;
}
.bannerf > button{
    padding:5px 15px;
    border-radius:25px;
    background-color:transparent;
    border: 1px solid black;
    color:black;
    font-size:15px;
    font-weight:500;
}
.comSideBar{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    min-height:200px;
    background-Color:white;
    border:1px solid rgb(179, 179, 179);
    border-radius:3px;
}

.aboutHeader{
    background-color:rgb(230, 230, 230);
    width:100%;
    height:45px;
    border-radius:1px;
    display:flex;
    align-items:center;
}
.aboutHeader > p{
    margin:0px 15px;
    font-size:15px;
    font-weight:550;
}
.aboutData{
    height:100%;
    width:90%;
}
.aboutData > span{
    display:block;
    width:100%;
    height:1px;
    background-color:lightgray;
}