@font-face {
  font-family: galaxy;
  src: url(earth-orbiter-font/EarthOrbiter-YZ12.otf);
}
.mainContent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: -1;
}
.midContent {
  position: relative;
  top: 100px;
  width: 950px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: -1;
}
.postContent {
  width: 100%;
}
.postContent > div {
  border: 1px solid black;
  width: 100%;
  min-height: 140px;
  margin-bottom: 20px;
}
.sideBar {
  margin-left: 30px;
  width: 400px;
  border: 1px solid black;
}
