@font-face {
  font-family: galaxy;
  src: url(earth-orbiter-font/EarthOrbiter-YZ12.otf);
}
.mainContent {
  width: 100%;
  background-color: #dae0e6;
}

.midContent {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  z-index: 0;
}

.sideBar {
  margin-left: 30px;
  width: 475px;
  height: 100vh;
}
