.loadingContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid transparent;
    animation: spin 1.5s infinite;
    border-color: transparent #0179d2 transparent #fe4500;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .loadingText {
    position: absolute;
    color: #0277d1;
    animation: fade 1.5s infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }