form {
  width: 100%;
}
form > div {
  position: relative;
}
input {
  position: relative;
  width: 95%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  background-color: transparent;
  z-index: 2;
}
.username {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 13px;
  color: gray;
  transition: 0.2s linear;
  user-select: none;
  z-index: 1;
}

.password {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 13px;
  color: gray;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

input:hover ~ .password {
  top: 5px;
  left: 10px;
  font-size: 10px;
  transition: 0.2s ease-in-out;
}

input:hover ~ .username {
  top: 5px;
  left: 10px;
  font-size: 10px;
  transition: 0.2s linear;
}

input:focus ~ .username {
  top: 5px;
  left: 10px;
  font-size: 10px;
  transition: 0.2s linear;
}
input:focus ~ .password {
  top: 5px;
  left: 10px;
  font-size: 10px;
  transition: 0.2s linear;
}
.labelChange {
  top: 5px;
  left: 10px;
  font-size: 10px;
  transition: 0.2s ease-in-out;
}
form > button {
  margin-bottom: 15px;
}
