.editPage {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #dae0e6;
    z-index:2;
  }
  .editPage > div {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    width: 500px;
    height: 500px;
  }
  .editPage h2 {
    margin-left: 50px;
  }
  
  .editPage form {
    margin-bottom: 75px;
    width: 80%;
    align-self: center;
  }
  .epfbuttons {
    position: absolute;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: rgb(233, 233, 233);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 100%;
    height: 100px;
    align-items: center;
  }
  .epfbuttons button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 550;
  }
  .epfbuttons > .delete {
    margin-left: 45px;
  }
  .epfbuttons > div {
    margin-right: 55px;
  }
  textarea {
    width: 96%;
    border-radius: 5px;
    height: 100px;
    resize: vertical;
    max-height: 150px;
  }
  .editPage > button{
      top:20px;
      right:20px;
      position:absolute;
      border:none;
      color:gray;
      font-size:30px;
      background-color:transparent;
  }
  