.postPageb {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50px;
  overflow: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.titleBar {
  width: 1150px;
  height: 50px;
  background-color: black;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.titleBar > p {
  margin: 0px 45px;
  color: rgb(212, 212, 212);
  font-size: 14px;
}

.titleBar > button {
  margin: 0px 45px;
  background-color: transparent;
  color: rgb(212, 212, 212);
  border: none;
  font-size: 14px;
}
.mainPostContainer {
  position: relative;
  width: 1150px;
  display: flex;
  min-height: 100%;
}

.mainPostContent {
  width: 1150px;
  background-color: #edeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.space1 {
  width: 1150px;
  height: 500px;
  position: absolute;
  top: -500px;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid black;
}

.spostContent {
  margin-top: 35px;
  width: 1050px;
  display: flex;
}
.pageMC {
  margin-left: 5px;
  max-width: 635px;
}
.pageMC img,
.mainData img {
  width: 100%;
}
#pcdiv {
  border: none;
  background-color: white;
  max-height: none;
  display: flex;
  min-height: 150px;
  background-color: white;
  word-break: break-word;
  border-radius: 5px;
}

#spacer {
  height: 100px;
}

.pcBackground {
  background-color: white;
}

.displayNun {
  display: none;
}

.reply {
  display: flex;
  width: 100%;
}
.repButton {
  display: flex;
  position: relative;
  height: 30px;
  background-color: lightgray;
  top: -10px;
  width: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: flex-end;
}
.repButton button:not(.repsub) {
  border: none;
  background-color: transparent;
}

.repsub {
  color: white;
  border-radius: 25px;
  border: none;
  margin: 5px;
  background-color: rgb(50, 168, 241);
}
.tab {
  width: 0px;
  margin-right: 20px;
  margin-left: 13px;
  border: 2px solid lightgray;
  cursor: pointer;
}
.orangeTab {
  border: 2px solid rgb(226, 143, 19);
}

.greyTab {
  border: 2px solid lightgray;
}

.thread {
  width: 0px;
  margin-right: 20px;
  cursor: pointer;
}

.noThread {
  display: none;
}

.ccContent {
  display: "flex";
  flex-direction: "column";
}

.closeButton {
  border: none;
  background-color: transparent;
  color: rgb(39, 172, 224);
  font-size: 20px;
  margin-right: 5px;
  transition: 0.5s;
}

.comSubmit {
  border-radius: 25px;
  background-color: #ec7321;
  border: none;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  margin-bottom: 9px;
  margin-right: 20px;
}
.cDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.cDiv > div {
  width: 110px;
  height: 35px;
  display: flex;
  align-items: center;
  color: gray;
}
.editPost {
  display: flex;
  justify-content: center;
}

.editPost:hover {
  cursor: pointer;
}
