.postPageb {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50px;
  overflow: scroll;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  z-index: 1;
}
.titleBar {
  width: 1150px;
  height: 50px;
  background-color: black;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.titleBar > p {
  margin: 0px 45px;
  color: rgb(212, 212, 212);
  font-size: 14px;
}

.titleBar > button {
  margin: 0px 45px;
  background-color: transparent;
  color: rgb(212, 212, 212);
  border: none;
  font-size: 14px;
}
.mainPostContainer {
  position: relative;
  width: 1150px;
  display:flex;
  min-height:100%;
}

.mainPostContent {
  width: 1150px;
  background-color: #edeff1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:100%;
}
.space1 {
  width: 1150px;
  height: 500px;
  position: absolute;
  top: -500px;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid black;
}

.spostContent {
  margin-top: 35px;
  width: 1050px;
  display: flex;
}
.pageMC {
  margin-left: 5px;
  max-width: 635px;
}
#pcdiv {
  border: none;
  background-color: white;
  max-height:none;
}

#spacer{
    height:100px;
}