/* createpost component */
.createPost.createPost {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 20px;
}
.createPost > form {
  width: 90%;
  display: flex;
  align-items: center;
}
.createPost > form > input {
  margin: 0px;
  padding: 10px 5px;
  background-color: #f6f7f8;
}
.createPost img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 0px 7px;
}

.createPost > form > input:hover {
  margin: 0px;
  padding: 10px 5px;
  background-color: white;
  border: 1px solid blue;
}
